<!DOCTYPE html> <!-- Declaración del tipo de documento HTML5 -->

<html> <!-- Elemento raíz del documento HTML -->
<head>
    <title>Bienvenido</title> <!-- Definición del título de la página que se mostrará en la pestaña del navegador -->
</head>

<body> <!-- Cuerpo del documento HTML, contiene el contenido visible de la página -->

    <h1>Bienvenido, {{ username }}!</h1>
    <!-- Título principal de la página que incluye un saludo personalizado al usuario, donde "{{ username }}" es un marcador de posición que se llenará con el nombre de usuario real cuando se renderice la página. -->

    <a href="/logout">Cerrar sesión</a>
    <!-- Enlace "Cerrar sesión" que dirige al usuario a una página o acción donde puede cerrar su sesión en la aplicación. -->

</body>
</html>

