<!-- 
    Página principal HTML.

    Este documento HTML representa la página principal de la aplicación.
    Proporciona un mensaje de bienvenida y enlaces para dirigir a los usuarios
    a las páginas de inicio de sesión ("/login") y registro ("/register").

    Detalles:
    - Mensaje de bienvenida en un encabezado h2.
    - Enlaces para redirigir a la página de inicio de sesión y registro.

    Nota: Esta página sirve como punto de entrada para nuevos usuarios
    y proporciona enlaces a las funciones clave de la aplicación.
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h2>Bienvenido estudiante UNIMINUTO</h2>

    <p>
      <a href="/login">Iniciar sesión</a> o
      <a href="/register">Registrarse</a>
    </p>
  </body>
</html>
