<!-- 
    Página de cierre de sesión HTML.

    Este documento HTML proporciona un mensaje indicando que el usuario ha cerrado sesión exitosamente.
    Además, se incluye un enlace que redirige a los usuarios de vuelta a la página de inicio de sesión ("/login").

    Detalles:
    - Mensaje indicando que el usuario ha cerrado sesión.
    - Enlace para redirigir a los usuarios a la página de inicio de sesión.

    Nota: Esta página se muestra después de que un usuario ha cerrado sesión en la aplicación.
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cerrar sesión</title>
  </head>
  <body>
    <h2>Has cerrado sesión</h2>
    <a href="/login">Iniciar sesión</a>
  </body>
</html>
